footer {
    width: 90%;
    margin: 0% auto;
    border: 3px solid black;
    margin-top: 5px;
    background: linear-gradient(to right, #5ce33b, #00b6ab);

}

footer p {
    text-align: center;
    font-size: 15px;
    color: rgb(161, 255, 239);
}